*
{
    box-sizing: border-box;
}

body
{    
    font-size: 16px;
    background-image: url("image/wood.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#canvas
{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 1%;
    background-color: white;
    outline: rgb(78, 52, 4) 0.25rem solid;
}

#brush
{
    background-image: url("image/brush.png");
    background-color: transparent;
    background-size: cover;
    width: 8%;
    height: 48px;
    margin-left: 5%;
    color: white;
    text-shadow: 0 0 0.75rem #FF0000;
}

#eraser
{
    background-image: url("image/eraser.png");
    background-color: transparent;
    background-size: cover;
    width: 8%;
    height: 48px;
    margin-left: 10px;
    color: white;
    text-shadow: 0 0 0.75rem #FF0000;
}

#circle
{
    background-image: url("image/circle.png");
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    width: 8%;
    height: 48px;
    margin-left: 10px;
    color: white;
    text-shadow: 0 0 0.75rem #FF0000;
}

#rectangle
{
    background-image: url("image/rectangle.png");
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    width: 8%;
    height: 48px;
    margin-left: 10px;
    color: white;
    font-size: 0.6rem;
    text-shadow: 0 0 0.75rem #FF0000;
}

#triangle
{
    background-image: url("image/triangle.png");
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    width: 8%;
    height: 48px;
    margin-left: 10px;
    color: white;
    font-size: 0.8rem;
    text-shadow: 0 0 0.75rem #FF0000;
}

#text
{
    background-image: url("image/text.png");
    background-color: transparent;
    background-size: cover;
    width: 8%;
    height: 48px;
    margin-left: 10px;
    color: white;
    text-shadow: 0 0 0.75rem #FF0000;
}

#uploadBtn
{

    margin-left: 10%;
    margin-top: 2%;
    width: 20%;
}

#undo
{

    margin-left: 10%;
    margin-top: 2%;
    width: 10%;
    color: white;
}

#redo
{

    margin-left: 10%;
    margin-top: 2%;
    width: 10%;
    color: white;
}

#selectColor
{
    width: 4%;
    height: 30px;
    margin-left: 20px;
}

#reset
{
    width: 8%;
    height: 48px;
    margin-left: 20px;
    color: white;
    text-shadow: 0 0 0.75rem #FF0000;
}

#save
{
    background-image: url("image/save.png");
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 8%;
    height: 48px;
    margin-left: 1%;
    color: white;
    text-shadow: 0 0 0.75rem #FF0000;
}

.selected
{
    opacity: 0.5;
}

#demo
{
    color: red;
}

#header
{
    background-color: black;
}



